@import "./../variables";

* {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

.hero {
  height: 100vh;
  padding: 2rem;
  width: auto;
  background-color: $background;
  color: $secondary;
  overflow: hidden;

  @media (min-width: $lg) {
    text-align: left;
    height: 80vh;
    padding: 0rem 2rem;
  }
 
  &__title {
    font-family: Junge;
    font-size: min(8vw, 2.5rem);
    margin-bottom: 1rem;

    @media (min-width: $md) {
      text-align: left;
    }
  }

  &__description {
    font-family: Jost;
    line-height: 1.5;
    max-width: 30rem;
    margin-bottom: 1.5rem;
    text-align: justify;

    @media (min-width: $lg) {
      text-align: left;
    }
  }

  &-container {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;

    @media (min-width: $lg) {
      flex-direction: row;
      justify-content: space-evenly;
    }
    
    @media (min-width: $xl) {
      justify-content: space-between;
    }

    .column {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: $lg) {
        align-items: flex-start;
      }
    }

    .picture {
      position: relative;
      width: fit-content;
      height: fit-content;
      $size: calc(250px + 8vw);
      
      img {
        position: relative;
        width: $size;
        height: $size;
        object-fit: cover;
        border-radius: 999px 80px;
        // clip-path: url(#svgPath);
        z-index: 3;
      }

      &::after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        display: block;
        background-color: rgba($color: $primary, $alpha: .25);
        width: $size;
        height: $size;
        border-radius: 999px 80px;
        transform: rotate(70deg);
        z-index: 2;
      }

      &::before {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        display: block;
        background-color: $primary;
        width: $size;
        height: $size;
        border-radius: 999px 80px;
        transform: rotate(-10deg);
        z-index: 1;
      }
    }
  }
}

.wave {
  width: 100%;
  height: 100%;
}

.wave-reverse {
  position: relative;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
  top: 4px;
}

.about {
  padding: 2rem;
  height: auto;
  display: flex;
  align-items: center;
  color: $secondary;

  @media (min-width: $lg) {
    height: 80vh;
    padding: 0rem 2rem;
  }

  &-container {
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
    padding: 3rem 0;

    @media (min-width: $lg) {
      flex-direction: row;
      justify-content: space-evenly;
    }
    
    @media (min-width: $xl) {
      justify-content: space-between;
    }
  }

  .picture {
    max-width: 18rem;
    width: 100%;
    height: 30rem;
    border-radius: 999px;
    object-fit: cover;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $lg) {
      align-items: flex-start;
    }
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: Junge;
  }

  &__description {
    line-height: 1.5;
    max-width: 35rem;
    font-family: Jost;
    text-align: justify;

    .strong {
      color: $primary;
    }

    @media (min-width: $lg) {
      text-align: left;
    }
  }
}

.support {
  padding: 2rem;
  height: auto;
  color: $secondary;
  font-family: Junge;

  &-container {
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    width: auto;
    padding: 3rem 0;
  }

  &__title {
    font-size: min(8vw, 2.5rem);
    text-align: center;
    margin-bottom: 3rem;

    @media (min-width: $xl) {
      text-align: left;
      margin-bottom: 1rem;
    }
  }

  &-list {
    display: flex;
    width: 100%;
    gap: 5rem;
    flex-direction: column-reverse;
    text-align: center;

    &__item {
      &:nth-child(even) {
        .article {
          @media (min-width: $lg) {
            flex-direction: row-reverse;
            align-items: center;
            text-align: center;
          }
        }
      }

      .article {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;

        @media (min-width: $lg) {
          width: 100%;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          gap: 6rem;
        }

        .picture {
          max-width: 18rem;
          width: 100%;
          height: max(15vw, 30rem);
          border-radius: 999px 999px 0 0;
          object-fit: cover;

          @media (min-width: $lg) {
            border-radius: 999px 80px;
          }
        }
      
        .column {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @media (min-width: $lg) {
            text-align: left;
            align-items: flex-start;
          }
        }
      
        &__title {
          color: $primary;
          font-size: 1.5rem;
          margin-bottom: 1rem;
          font-family: Junge;
        }
      
        &__description {
          line-height: 1.5;
          max-width: 35rem;
          margin-bottom: 1rem;
          font-family: Jost;
          text-align: justify;
      
          .strong {
            color: $primary;
          }
        }
      }
    }
  }
}

.pricing {
  padding: 4rem 2rem;
  height: auto;
  display: flex;
  align-items: center;
  background-color: $background;
  color: $secondary;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0rem;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-family: Junge;
  }

  &__description {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-family: Jost;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: $lg) {
      flex-direction: row;
    }

    &__item {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: 5px;
      padding: 1.5rem;
      font-size: .9rem;
      font-family: Jost;

      .price {
        font-size: 2.5rem;
        margin-bottom: .5rem;
        font-family: Junge;
        
        small {
          font-size: 1rem;
        }
      }

      .title {
        color: $primary;
        font-size: 1.5rem;
        margin-bottom: .25rem;
        font-family: Junge;
      }

      .description {
        line-height: 1.5
      }
    }
  }

  &-infos {
    margin-top: 2rem;
    line-height: 1.5;
    text-align: center;
    font-family: Jost;
  }
}

.contact {
  background-color: $primary;
  padding: 2rem;
  color: #fff;
  width: auto;
  font-family: Jost;

  @media (min-width: $lg) {
    background-color: $background;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $lg) {
      padding: 2rem;
      background-color: $primary;
      border-radius: 15px;
    }
  }

  @media (max-width: $xl) {
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-family: Junge;
  }

  &__description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media (min-width: $lg) {
      flex-direction: row;
    }

    &__item {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 3px;
      padding: .75rem;      
      gap: .5rem;
      font-size: min(5vw, 1.25rem);
      width: fit-content;

      .icon {
        fill: none;
        stroke-width: 1;
        stroke: $secondary;
      }

      img {
        border-right: 1px rgba($color: $secondary, $alpha: .25) solid;
        padding-right: .5rem;
      }

      a {
        color: $secondary;
        text-decoration: none;
      }
    }
  }
}

.news {
  background-color: $background;
  color: $secondary;
  padding: 6rem 0;

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5rem 2rem;

    @media (max-width: $xl) {
      align-items: center;
    }
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: Junge;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: $xl) {
      align-items: center;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 32rem;
    font-family: Junge;

    &__item {
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: #fff;
      padding: 1rem;        

      .date {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px rgba($color: $secondary, $alpha: .25) solid;
        padding-right: 1rem;

        .day {
          font-size: 4rem;
          color: $primary;
        }

        .month {
          // font-size: 1.25rem;
          color: $secondary;
        }
      }

      .info {
        .title {
          font-size: 1.5rem;
          margin-bottom: .5rem;
          color: $secondary;
        }
      }
    }
  }

  .illustration {
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 999px 999px 0 0;

    @media (max-width: $xl) {
      display: none;
    }
  }
}

.reviews {
  height: auto;
  width: auto;
  padding: 4rem 2rem;
  background-color: $background;
  color: $secondary;
  font-family: Jost;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 3rem 0;

    @media (min-width: $lg) {
      width: 100%;
    }
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-family: Junge;
  }

  &__description {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}