@import "./../variables";

.page {
  &-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;

    .hero__title {
      position: relative;
      top: 2rem;
    }
  }

  &-post {
    font-family: Jost;
    margin-top: 1.5rem;
    margin-bottom: 3rem;

    h2 {
      font-family: Junge;
      font-size: 1.5rem;
      color: $primary;
      margin-bottom: .5rem;
    }

    p {
      font-family: Jost;
      line-height: 1.5;
      color: $secondary;
      margin-bottom: 1rem;
    }
  }
}