@import "./../variables";

.footer {
  display: flex;
  background-color: $primary;
  font-family: Jost;

  &-container {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: $xl;
    margin: auto;
    padding: 2rem 4rem;
    color: #fff;

    @media (max-width: $xl) {
      padding: 1rem 2rem;
      align-items: center;
    }

    .column {
      display: flex;
      flex-direction: column;

      &-title {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-family: Junge;
      }

      &-subtitle {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-family: Junge;
      }

      &-paragraph {
        line-height: 1.5;
      }

      @media (max-width: $xl) {
        align-items: center;
      }
    }

    .more-infos {
      display: flex;
      justify-content: space-between;

      .socials {
        display: flex;
        gap: .5rem;
      }

      @media (max-width: $xl) {
        flex-direction: column;
        align-items: center;
      }
    }

    .map {
      width: 100%;
      // height: 100%;
    }
    
    hr {
      width: 100%;
      border: 0;
      height: 1px;
      background: $background;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-bottom: 2rem;

    @media (min-width: $lg) {
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
      justify-content: space-between;
    }
  }

  .links {
    display: flex;
    gap: 1rem;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
  
  .location {
    flex: 1 1 100%;

    .map {
      height: 12rem;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: $xl) {
      align-items: center;
    }
    
    &__item {
      display: flex;
      align-items: center;
      gap: .5rem;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}